# Network Configuration
INTERNAL_NETWORK_NAME=toolkit_internal

# Telemetry Service
TELEMETRY_HOST=telemetry
TELEMETRY_PORT=8081
TELEMETRY_LOG_PATH=/var/log/telemetry
TELEMETRY_MAX_FILE_SIZE=1048576
TELEMETRY_VALIDATION_INTERVAL=50

# Heartbeat Service
HEARTBEAT_HOST=heartbeat
HEARTBEAT_PORT=8082
HEARTBEAT_INTERVAL=15

# Proxy Service
PROXY_HOST=proxy
PROXY_PORT=80
PROXY_ADMIN_PORT=2019

# Webservice
WEBSERVICE_HOST=webservice
WEBSERVICE_PORT=3000
WEBSERVICE_INTERNAL_PORT=3001
STATE_PATH=/app/appState
